body {
  margin: 0 auto;
}

nav {
  background-color: #000000;
  display: flex;
  position: fixed;
  z-index: 38;
  left: 0;
  top: 0;
  width: 100%;
}

.car {
  display: flex;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.navbar1 {
  flex: 0.25;
  background-color: #F3A01A;
  text-align: center;
}

img {
  width: 100px;
  margin: 10px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.navbar2 {
  text-align: center;
  flex: 2;
}

.list {
  list-style: none;
  width: 260px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  padding-right: 70px;
  margin-top: 10px auto;
}

a:hover {
  color: #F3A01A;
  position: relative;
}

a {
  color: #D9D9D9;
  font-size: x-large;
  font-family: sans-serif;
  margin: 0px 20px;
  text-decoration: none;
}

.search {
  display: flex;
  background-color: #D9D9D9;
  width: 450px;
  height: 40px;
  margin: 20px auto;
}

.search input[type=search] {
  width: 70%;
  border: none;
}

button {
  background-color: #F3A01A;
  width: 30%;
  border: none;
  cursor: pointer;
}

.navbar3 {
  flex: 0.25;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.car {
  background-color: #D9D9D9;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: text-align;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar3 {
    display: none;
  }
  .navbar2 {
    text-align: center;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list {
    list-style: none;
    width: 260px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    padding-right: 70px;
    margin-top: 10px auto;
  }
  a {
    color: #D9D9D9;
    font-size: x-large;
    font-family: sans-serif;
    margin: 0px 20px;
    text-decoration: none;
  }
  .search {
    flex: 2;
    background-color: #D9D9D9;
    width: 200px;
    height: 40px;
    margin: 40px;
  }
  .list a {
    border: 0px solid #F3A01A;
    padding: 11.5px 16px;
    transition: 0.5s;
  }
  .list a:hover {
    background-color: orange;
    color: #000000;
  }
  nav {
    height: 90px;
  }
  img {
    width: 80px;
    margin: 5px;
    background-color: #D9D9D9;
    border-radius: 50%;
  }
}
<<<<<<< HEAD
=======
@media (min-width: 320px) and (max-width: 480px) {
  nav {
    height: 60px;
    margin-top: 0px;
  }
  img {
    width: 50px;
    margin: 5px;
    background-color: #D9D9D9;
    border-radius: 50%;
  }
  .navbar2 {
    text-align: center;
    width: 100%;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  a {
    color: #D9D9D9;
    font-size: x-large;
    font-family: sans-serif;
    text-decoration: none;
  }
  .list a {
    border: 0px solid #F3A01A;
    margin-left: 10px;
    padding: 5px 5px;
    transition: 0.9s;
  }
  .list a:hover {
    background-color: orange;
    color: #000000;
  }
  .search {
    display: none;
  }
  button {
    background-color: #F3A01A;
    width: 30%;
    border: none;
    cursor: pointer;
  }
  .navbar3 {
    display: none;
  }
}
>>>>>>> contact
.container {
  width: 90%;
  margin: 30px auto;
  margin-top: 150px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(177, 173, 173, 0.09) 0px -3px 5px;
}

.content-top {
  height: 250px;
  text-align: center;
  background-image: url("/images/home/contact/map.png");
}

.bg-top {
  background-color: #D9D9D9;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
}

.rgba {
  background-color: rgba(0, 0, 0, 0.4784313725);
  height: 250px;
  padding: 40px;
}

h2 {
  color: #000000;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: bold;
}

#content-button1 {
  background-color: #000000;
  color: #D9D9D9;
  font-size: medium;
  height: 40px;
  border-radius: 10px;
  margin-right: 5px;
}

#content-button2 {
  background-color: #F3A01A;
  height: 40px;
  border-radius: 10px;
  margin-left: 5px;
  font-size: medium;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #content-button2, #content-button1 {
    font-size: small;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .container {
<<<<<<< HEAD
    margin-top: 80px;
=======
    margin-top: 10px;
>>>>>>> contact
  }
  .content-top {
    height: 150px;
    text-align: center;
    background-image: url("/images/home/contact/map.png");
  }
  .rgba {
    background-color: rgba(0, 0, 0, 0.4784313725);
    height: 150px;
    padding: 20px;
  }
  h2 {
    font-weight: normal;
    margin-bottom: 5px;
    font-size: medium;
  }
  .bg-top {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
  }
  #content-button1 {
    background-color: #000000;
    color: #D9D9D9;
    font-size: small;
    width: 70%;
    height: 20px;
    border-radius: 5px;
    margin-top: 5px;
  }
  #content-button2 {
    background-color: #F3A01A;
    height: 20px;
    width: 70%;
    margin-top: 10px;
    border-radius: 5px;
    font-size: small;
    margin-right: 10px;
  }
}
.content-bottom {
  background-color: #000000;
  color: #D9D9D9;
  padding-top: 30px;
}

.input {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

input[type=text],
input[type=password],
input[type=email] {
  width: 48%;
  height: 40px;
  border: none;
  background-color: #b6b3b3;
  margin-top: 5px;
  font-weight: bold;
  border-radius: 5px;
}

.input-text {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 16px;
  font-family: sans-serif;
}

.span {
  text-align: center;
  font-family: sans-serif;
  font-size: x-large;
  font-weight: bold;
}

input[type=text-fb] {
  background-color: #b6b3b3;
  width: 98%;
  font-weight: bold;
  border-radius: 5px;
  height: 80px;
  border: none;
  margin-top: 5px;
  margin-bottom: 20px;
}

input[type=submit] {
  width: 98%;
  font-weight: bold;
  border-radius: 5px;
  height: 40px;
  border: none;
  background-color: #D9D9D9;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
  input[type=text],
  input[type=password],
  input[type=email] {
    width: 98%;
    height: 40px;
    border: none;
    background-color: #b6b3b3;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 5px;
  }
  #Sure-name {
    display: none;
  }
  #Email {
    width: 98%;
  }
  #Password {
    width: 98%;
    margin-top: 30px;
  }
  #id {
    width: 48%;
  }
  #class {
    width: 48%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  input[type=text],
  input[type=password],
  input[type=email] {
    width: 98%;
    height: 40px;
    border: none;
    background-color: #b6b3b3;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 5px;
  }
  #Sure-name {
    display: none;
  }
  #Email {
    width: 98%;
  }
  #Password {
    width: 98%;
    margin-top: 30px;
  }
  #id {
    width: 98%;
    display: none;
  }
  #class {
    width: 98%;
  }
}
footer {
  margin-top: 30px;
  background-color: #000000;
  color: #D9D9D9;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "footer1 footer2 footer3 footer4";
}

.footer1 {
  grid-area: footer1;
  margin-left: 60px;
}

.footer2 {
  grid-area: footer2;
  margin-left: 70px;
}

.footer3 {
  grid-area: footer3;
  margin-left: 70px;
}

.footer4 {
  grid-area: footer4;
  margin-left: 70px;
}

.icon {
  display: flex;
  justify-content: space-between;
}

h3 a {
  text-transform: uppercase;
}

p, a {
  text-transform: capitalize;
  font-size: medium;
}

#icon {
  width: 40px;
  height: 40px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: flex;
  margin: 5px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media (min-width: 481px) and (max-width: 1024px) {
  footer {
    text-align: center;
    display: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "footer2 footer3 footer4" "footer1 footer1 footer1";
  }
  .footer1 {
    margin: 0 auto;
    width: 40%;
    grid-area: footer1;
    padding: 10px;
    margin-bottom: 20px;
  }
  .footer2 {
    margin-top: 10px;
    grid-area: footer2;
    text-align: left;
  }
  .footer3 {
    margin-top: 10px;
    text-align: left;
    grid-area: footer3;
  }
  .footer4 {
    margin-top: 10px;
    grid-area: footer4;
    text-align: left;
  }
  #h3, #p {
    color: #F3A01A;
  }
  .icon {
    align-items: left;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  footer {
    text-align: center;
    display: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "footer2" "footer3" "footer4" "footer1";
  }
  .footer1 {
    margin: 0 auto;
    width: 80%;
    grid-area: footer1;
    margin-bottom: 20px;
  }
  .footer2 {
    grid-area: footer2;
    margin-right: 65px;
    text-align: center;
  }
  .footer3 {
    margin-right: 65px;
    text-align: center;
    grid-area: footer3;
  }
  .footer4 {
    margin-right: 65px;
    grid-area: footer4;
    text-align: center;
  }
}/*# sourceMappingURL=contact.css.map */