body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.main-header {
  background-image: url("/images/home_page-images/home-bg.png");
  background-size: cover;
  width: 100%;
  color: white;
  margin-top: 8%;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.header-content {
  text-align: center;
  padding-top: 250px;
  padding-left: 20px;
  margin-top: -10%;
  cursor: pointer;
}
.header-content .h1 {
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vh;
  padding-bottom: 0;
  margin-bottom: 0;
  cursor: pointer;
}
.header-content .p {
  margin-top: 0px;
}
.header-content .button {
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
  background-color: whitesmoke;
  color: black;
  margin-top: 10px;
  padding: 5px 0;
  border-radius: 50px;
  border: none;
  transition: background 0.3s;
  cursor: pointer;
}
.header-content .button:hover {
  background-color: #F3A01A;
  color: whitesmoke;
  border: none;
}

.img-right1 img {
  margin-left: 120px;
  padding-bottom: 50px;
  margin-top: 50px;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  cursor: pointer;
  background: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .main-header {
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
  }
  .img-right1 img {
    background-repeat: no-repeat;
    margin-top: 0;
    margin-left: 300px;
    width: 250px;
    height: 250px;
  }
  .header {
    display: flex;
    flex-wrap: wrap;
  }
  .header .header-content {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .header .header-content .h1 {
    font-size: 7vh;
  }
  .header .header-content .button {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .main-header {
    background-size: 100%;
    width: 888px;
    background-repeat: no-repeat;
  }
  .img-right1 img {
    display: none;
  }
  .header-content {
    width: 100%;
  }
  .header-content .h1 {
    font-family: "Bayon", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .header-content .p {
    margin: 0;
    font-size: 5vh;
    width: 650px;
    padding: 0;
    margin: 0 auto;
  }
  .header-content .button {
    background-color: white;
    padding: 10px 100px;
    font-size: 5vh;
    margin-bottom: 25px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .main-header {
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img-right1 img {
    display: none;
  }
  .header-content {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50%;
  }
  .header-content .h1 {
    font-family: "Bayon", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 5vh;
    margin-right: 20px;
  }
  .header-content .p {
    display: none;
  }
  .header-content .button {
    background-color: white;
    padding: 5px;
    font-size: 3vh;
    margin-bottom: 10px;
  }
}
.main-about {
  text-align: center;
  padding: 20px;
}
.main-about .h2-about {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 6vh;
  position: relative;
  margin-bottom: 0;
  margin: 0 auto;
  padding-bottom: 0;
  cursor: pointer;
  padding: 0 10px;
  width: -moz-max-content;
  width: max-content;
}
.main-about hr {
  margin-top: 20px;
}

.main-about .h2-about:after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 98%;
  left: 0;
  background-color: #F3A01A;
  border-radius: 5px;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

.main-about .h2-about:hover:after {
  transform: scaleX(1);
}

.about-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.info-left {
  margin-top: 20px;
  background-color: #F3A01A;
  width: 850px;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.info-left h2 {
  font-size: 5vh;
  margin-bottom: 20px;
  margin-top: 20px;
}
.info-left p {
  font-size: 5vh;
  text-align: justify;
  width: 780px;
  margin: 0 auto;
}

.info-left:hover {
  transform: translateY(-5px);
}

.logo-right img {
  margin-top: 20px;
  margin-right: 20px;
  width: 300px;
  transition: 0.5s;
  cursor: pointer;
}

.logo-right img:hover {
  transform: translateY(-5px);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .main-about .h2-about {
    font-size: 4vh;
  }
  .about-content {
    margin-top: 20px;
    flex-direction: row-reverse;
    background-color: #F3A01A;
    height: 350px;
    width: 95%;
    border-radius: 10px;
    padding: 20px;
  }
  .info-left {
    background-color: none;
    width: 500px;
    margin-right: 225px;
  }
  .info-left h2 {
    font-size: 3.5vh;
    margin-left: 70px;
    width: 500px;
  }
  .info-left p {
    font-size: 2.8vh;
    text-align: justify;
    height: 200px;
    width: 710px;
  }
  .logo-right img {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .main-about {
    width: 100%;
  }
  .main-about .h2-about {
    text-align: center;
    margin-left: 350px;
  }
  .main-about hr {
    width: 850px;
  }
  .main-about .about-content {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    background-color: #F3A01A;
    width: 850px;
    border-radius: 20px;
  }
  .main-about .info-left h2 {
    margin-left: 25px;
  }
  .main-about .info-left p {
    margin-left: 20px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .main-about {
    width: 95%;
  }
  .main-about .h2-about {
    text-align: center;
    margin-right: 90px;
  }
  .main-about hr {
    width: 95%;
  }
  .main-about .about-content {
    margin-top: 10px;
    margin-right: 25px;
    width: 93%;
    background-color: #F3A01A;
    border-radius: 20px;
  }
  .main-about .info-left {
    margin: 0 auto;
    background: none;
    width: 400px;
  }
  .main-about .info-left h2 {
    display: none;
  }
  .main-about .info-left p {
    display: none;
  }
  .main-about .logo-right img {
    width: 200px;
    margin-right: 90px;
    margin-top: 10px;
  }
}
.main-food {
  text-align: center;
  padding: 20px;
}
.main-food .h2-feature {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
  margin: 0 auto;
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.main-food hr {
  margin-top: 20px;
}
.main-food .h2-feature:after {
  content: "";
  position: absolute;
  background-color: #F3A01A;
  width: 100%;
  height: 4px;
  bottom: -5px;
  left: 0;
  border-radius: 5px;
  transition: 0.3s;
  transition-timing-function: scaleX(0) ease-in-out;
  transform: scaleX(0);
}
.main-food .h2-feature:hover:after {
  transform: scaleX(1);
}

.content-1 {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  padding-left: 20px;
}
.content-1 .left h2 {
  font-family: "Actor", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 7vh;
  position: absolute;
  margin: 0;
  padding: 0;
}
.content-1 .left h2 span {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-size: 5vh;
  font-style: normal;
  color: #F3A01A;
}
.content-1 .left h3 {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #F3A01A;
  font-size: 5vh;
  text-align: start;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}
.content-1 .left p {
  font-family: "Actor", sans-serif;
  font-weight: 400;
  font-size: 5vh;
  font-style: normal;
  text-align: start;
  padding: 0;
  margin: 0;
}
.content-1 .left .button {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
  color: white;
  background-color: #F3A01A;
  padding: 7px 0;
  margin-top: 15px;
  text-align: center;
  border-radius: 6px;
  outline: none;
  border: none;
  width: 100%;
  transition: background 0.3s;
  cursor: pointer;
}
.content-1 .left .button:hover {
  background-color: rgb(27, 78, 25);
}
.content-1 .right img {
  width: 600px;
  transition: 0.5s;
  border-radius: 0;
}
.content-1 .right img:hover {
  transform: translateY(-5px);
}

.middle-content {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  padding-right: 30px;
  margin-top: 20px;
  padding-left: 20px;
}
.middle-content .left-middle img {
  width: 600px;
  border-radius: 0;
  transition: 0.5s;
  background: none;
}
.middle-content .left-middle img:hover {
  transform: translateY(-5px);
}
.middle-content .right-middle h2 {
  font-family: "Actor", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: end;
  font-size: 7vh;
  margin: 0;
  padding: 0;
}
.middle-content .right-middle h2 span {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-size: 5vh;
  font-style: normal;
  color: #F3A01A;
}
.middle-content .right-middle h3 {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #F3A01A;
  font-size: 5vh;
  text-align: end;
  margin: 0;
  padding: 0;
}
.middle-content .right-middle p {
  font-family: "Actor", sans-serif;
  font-weight: 400;
  font-size: 5vh;
  font-style: normal;
  text-align: end;
  padding: 0;
  margin: 0;
}
.middle-content .right-middle .button {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3vh;
  color: white;
  background-color: #F3A01A;
  padding: 7px 0;
  margin-top: 15px;
  text-align: center;
  border-radius: 6px;
  outline: none;
  border: none;
  transition: background 0.3s;
  cursor: pointer;
  width: 90%;
  margin-right: -30px;
}
.middle-content .right-middle .button:hover {
  background-color: rgb(27, 78, 25);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .content-1 {
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .content-1 .left .button {
    font-size: 1vh;
    padding: 10px 90px;
  }
  .content-1 .left h2 {
    font-size: 4.8vh;
  }
  .content-1 .left h2 span {
    display: none;
  }
  .content-1 .left h3 {
    font-size: 2.5vh;
  }
  .content-1 .left p {
    font-size: 2vh;
  }
  .content-1 .right img {
    width: 480px;
  }
  .middle-content {
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .middle-content .left-middle img {
    margin-top: 15px;
    width: 450px;
  }
  .middle-content .right-middle {
    width: 300px;
    margin-right: 0px;
  }
  .middle-content .right-middle h2 {
    font-size: 4.5vh;
  }
  .middle-content .right-middle h2 span {
    display: none;
  }
  .middle-content .right-middle h3 {
    font-size: 2vh;
  }
  .middle-content .right-middle .button {
    font-size: 1vh;
    padding: 10px 70px;
  }
  .middle-content .right-middle p {
    font-size: 2.5vh;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .main-food {
    width: 100%;
  }
  .main-food .h2-feature {
    text-align: center;
    margin: 0 auto;
    margin-left: 330px;
  }
  .main-food hr {
    width: 850px;
  }
  .content-1 {
    width: 820px;
  }
  .content-1 .left .button {
    padding: 15px;
    border-radius: 30px;
    font-size: 3.5vh;
  }
  .content-1 .left p {
    font-size: 5vh;
  }
  .content-1 .right img {
    width: 500px;
  }
  .middle-content {
    padding-right: 10px;
    width: 820px;
  }
  .middle-content .right-middle {
    margin-right: 20px;
  }
  .middle-content .right-middle .button {
    margin-left: 60px;
  }
  .middle-content .right-middle p {
    font-size: 5vh;
  }
  .middle-content .left-middle img {
    width: 500px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .main-food {
    width: 100%;
  }
  .main-food .h2-feature {
    margin-right: 150px;
  }
  .main-food hr {
    margin-top: 20px;
    width: 370px;
  }
  .content-1 {
    margin-left: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    flex-direction: column-reverse;
  }
  .content-1 .left h2, .content-1 .left h3, .content-1 .left span {
    display: none;
  }
  .content-1 .left .button {
    padding: 5px;
    border-radius: 5px;
    font-size: 2vh;
  }
  .content-1 .left p {
    display: none;
  }
  .content-1 .right img {
    margin-top: 10px;
    width: 330px;
    margin-right: 10px;
  }
  .middle-content {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    margin-left: 10px;
  }
  .middle-content .right-middle h2, .middle-content .right-middle h3, .middle-content .right-middle span {
    display: none;
  }
  .middle-content .right-middle .button {
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 2vh;
    width: 350px;
  }
  .middle-content .right-middle p {
    display: none;
  }
  .middle-content .left-middle img {
    width: 330px;
  }
}
body {
  margin: 0 auto;
}

nav {
  background-color: #000000;
  display: flex;
  position: fixed;
  z-index: 38;
  left: 0;
  top: 0;
  width: 100%;
}

.car {
  display: flex;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.navbar1 {
  flex: 0.25;
  background-color: #F3A01A;
  text-align: center;
}

img {
  width: 100px;
  margin: 10px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.navbar2 {
  text-align: center;
  flex: 2;
}

.list {
  list-style: none;
  width: 260px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  padding-right: 70px;
  margin-top: 10px auto;
}

.list a {
  border: 0px solid #F3A01A;
  padding: 3px 16px;
  transition: 0.5s;
}

.list a:hover {
  background-color: orange;
  color: #000000;
}

a:hover {
  color: #F3A01A;
  position: relative;
}

a {
  color: #D9D9D9;
  font-size: x-large;
  font-family: sans-serif;
  margin: 0px 20px;
  text-decoration: none;
}

.search {
  display: flex;
  background-color: #D9D9D9;
  width: 450px;
  height: 40px;
  margin: 20px auto;
}

.search input[type=search] {
  width: 70%;
  border: none;
}

button {
  background-color: #F3A01A;
  width: 30%;
  border: none;
  cursor: pointer;
}

.navbar3 {
  flex: 0.25;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.car {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: text-align;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar3 {
    display: none;
  }
  .navbar2 {
    text-align: center;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list {
    list-style: none;
    width: 260px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    padding-right: 70px;
    margin-top: 10px auto;
  }
  a {
    color: #D9D9D9;
    font-size: x-large;
    font-family: sans-serif;
    margin: 0px 20px;
    text-decoration: none;
  }
  .search {
    flex: 2;
    background-color: #D9D9D9;
    width: 200px;
    height: 40px;
    margin: 40px;
  }
  .list a {
    border: 0px solid #F3A01A;
    padding: 11.5px 16px;
    transition: 0.5s;
  }
  .list a:hover {
    background-color: orange;
    color: #000000;
  }
  nav {
    height: 90px;
  }
  img {
    width: 80px;
    margin: 5px;
    background-color: #D9D9D9;
    border-radius: 50%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  nav {
    height: 60px;
    margin-top: 0px;
  }
  img {
    width: 50px;
    margin: 5px;
    background-color: #D9D9D9;
    border-radius: 50%;
  }
  .navbar2 {
    text-align: center;
    width: 100%;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  a {
    color: #D9D9D9;
    font-size: x-large;
    font-family: sans-serif;
    text-decoration: none;
  }
  .list a {
    border: 0px solid #F3A01A;
    margin-left: 10px;
    padding: 5px 5px;
    transition: 0.9s;
  }
  .list a:hover {
    background-color: orange;
    color: #000000;
  }
  .search {
    display: none;
  }
  button {
    background-color: #F3A01A;
    width: 30%;
    border: none;
    cursor: pointer;
  }
  .navbar3 {
    display: none;
  }
}
footer {
  margin-top: 30px;
  background-color: #000000;
  color: #D9D9D9;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "footer1 footer2 footer3 footer4";
}

.footer1 {
  grid-area: footer1;
  margin-left: 60px;
}

.footer2 {
  grid-area: footer2;
  margin-left: 70px;
}

.footer3 {
  grid-area: footer3;
  margin-left: 70px;
}

.footer4 {
  grid-area: footer4;
  margin-left: 70px;
}

.icon {
  display: flex;
  justify-content: space-between;
}

h3 a {
  text-transform: uppercase;
}

p, a {
  text-transform: capitalize;
  font-size: medium;
}

#icon {
  width: 40px;
  height: 40px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: flex;
  margin: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media (min-width: 481px) and (max-width: 1024px) {
  footer {
    text-align: center;
    display: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "footer2 footer3 footer4" "footer1 footer1 footer1";
  }
  .footer1 {
    margin: 0 auto;
    width: 40%;
    grid-area: footer1;
    padding: 10px;
    margin-bottom: 20px;
  }
  .footer2 {
    margin-top: 10px;
    grid-area: footer2;
    text-align: left;
  }
  .footer3 {
    margin-top: 10px;
    text-align: left;
    grid-area: footer3;
  }
  .footer4 {
    margin-top: 10px;
    grid-area: footer4;
    text-align: left;
  }
  #h3, #p {
    color: #F3A01A;
  }
  .icon {
    align-items: left;
    transition: 1s;
  }
  .icon:hover {
    transform: translateY(-3px);
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  footer {
    text-align: center;
    display: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "footer2" "footer3" "footer4" "footer1";
  }
  .footer1 {
    margin: 0 auto;
    width: 80%;
    grid-area: footer1;
    margin-bottom: 20px;
  }
  .footer2 {
    grid-area: footer2;
    margin-right: 65px;
    text-align: center;
  }
  .footer3 {
    margin-right: 65px;
    text-align: center;
    grid-area: footer3;
  }
  .footer4 {
    margin-right: 65px;
    grid-area: footer4;
    text-align: center;
  }
}/*# sourceMappingURL=home.css.map */