

@import"component.contact/_variable";
@import"component.contact/_navbar";
@import"conponent-about/_variables";
@import"conponent-about/_header";
@import"conponent-about/_categories";
@import"conponent-about/_contant";
@import"conponent-about/_main-food";
@import"conponent-about/_drinks";
@import"conponent-about/_desserts";
@import"conponent-about/_table-food";
@import"component.contact/_footer";


body{
    margin: 0 auto;
    // padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.caption h1{
    text-align: center;
    // margin-top: 30px;
}

@media(min-width:481px) and (max-width:767px){
    .caption h1{
        margin-top: 45%;
        font-size: 25px;

        
        
    }
    .caption{
        .canteen{
            display: none;
        }
    }
}

@media(min-width:320px) and (max-width:480px){
    .caption h1{
        margin-top: 80%;
        font-size: 25px;

        
        
    }
    .caption{
        .canteen{
            display: none;
        }
    }
}



nav{
    background-color: $bg-color-black;
    display: flex;
    position: fixed;
    z-index: 38;
    left: 0;
    top: 0;
    width: 100%;
}

.card{
    display: flex;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
}



.navbar1{
    flex: 0.25;
    background-color: $bg-color-orange;
    text-align: $text-align;
}

img{
    width: 100px;
    margin: 10px;
    background-color:$bg-color-white;
    border-radius: 50%;
}


.navbar2{
    text-align:$text-align;
    flex: 2;
}

.list{
    list-style: none;
    width: 260px;
    margin: 20px auto;
    @include text-centered;
    padding-right: 70px;
    margin-top:  10px auto;

}

a:hover{
    color: $bg-color-orange;
    position: relative;
}

a{
    color: $bg-color-white;
    font-size: 16px;
    font-family: $font-text;
    margin: 0px 20px;
    text-decoration: none;
}

.search{
    display: flex;
    background-color: $bg-color-white;
    width: 450px;
    height: 40px;
    margin: 20px auto;

}

@media(min-width: 768px) and (max-width: 1024px){
    .navbar3{
        display: none;
    }

    .navbar2{
        text-align:$text-align;
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .list{
        list-style: none;
        width: 260px;
        margin: 20px auto;
        @include text-centered;
        padding-right: 70px;
        margin-top:  10px auto;
    
    }
    
    a{
        color: $bg-color-white;
        font-size: 15px;
        font-family: $font-text;
        margin: 0px 10px;
        text-decoration: none;
    }
    
    .search{
        flex: 2;
        background-color: $bg-color-white;
        width: 200px;
        height: 40px;
        margin: 40px;
    }
    
    .list a{
        border: 0px solid $bg-color-orange;
        padding: 11.5px 16px;
        transition: 0.5s;

    }
    
    .list a:hover{
        background-color: orange;
        color: $bg-color-black;
    }
    
    nav{
        height: 90px;
    }

    img{
        width: 80px;
        margin: 5px;
        background-color:$bg-color-white;
        border-radius: 50%;
    }
}
@media (min-width:320px) and (max-width:480px){
    nav{
        height: 60px;
        margin-top: 0px;
    }

    img{
        width: 50px;
        margin: 5px;
        background-color:$bg-color-white;
        border-radius: 50%;
    }
    

    .navbar2{
        text-align:$text-align;
        width: 100%;
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .list{
        // list-style: none;
        width: 50%;
        @include text-centered;
        
        // padding-right: 70px;
    
    }

    a{
        color: $bg-color-white;
        font-size: 15px;
        font-family: $font-text;
        text-decoration: none;
    }

    .list a{
        border: 0px solid $bg-color-orange;
        margin-left: 10px;
        padding: 5px 5px;
        transition: 0.9s;

    }
    

    .list a:hover{
        background-color: orange;
        color: $bg-color-black;
    }
    

    .search{

        display: none;
    }
    
    
    
    button{
        background-color: $bg-color-orange;
        width: 30%;
        border: $border-none;
        cursor: pointer;
    
    }

    .navbar3{
        display: none;
    }
}