$bg-color-black: #000000;
$bg-color-orange: #F3A01A;
$bg-color-white: #D9D9D9;
$bg-color-rgba:#0000007a;
$bg-color-input:#b6b3b3;
$font-text:sans-serif;
$text-align: center;
$flex-item:flex;
$b-r: 50%;
$border-none: none;