.main-about{
    text-align: center;
    padding: 20px;

    .h2-about{
        font-family: "ADLaM Display", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 6vh;
        position: relative;
        margin-bottom: 0;
        margin: 0 auto;
        padding-bottom: 0;
        cursor: pointer;
        padding: 0 10px;
        width: max-content;
    }
    hr{
        margin-top: 20px;
    }


}
.main-about .h2-about:after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 98%;
    left: 0;
    background-color: #F3A01A;
    border-radius: 5px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
.main-about .h2-about:hover:after{
    transform: scaleX(1);
}
.about-content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}
.info-left{

    margin-top: 20px;
    background-color: #F3A01A;
    width: 850px;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    h2{
        font-size: 5vh;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    p{
        font-size: 5vh;
        text-align: justify;
        width: 780px;
        margin: 0 auto;
    }


}
.info-left:hover{
    transform: translateY(-5px);

} 
.logo-right img{
    margin-top: 20px;
    margin-right: 20px;
    width: 300px;
    transition: 0.5s;
    cursor: pointer;


}
.logo-right img:hover{
    transform: translateY(-5px);

} 

// Responsive for tablet---->

@media(min-width:769px) and (max-width:1024px){
    .main-about{
        .h2-about{
            font-size: 5vh;
        }
    }
    .about-content{
        margin-top: 20px;
        flex-direction: row-reverse;
        background-color: #F3A01A;
        height: 350px;
        width: 95%;
        border-radius: 10px;
        padding: 20px;


    }
    .info-left{
        background-color: none;
        width: 500px;
        margin-right: 190px;
        h2{
            font-size: 3.5vh;
            margin-left: 70px;
            width: 500px;
        }

        p{
            font-size: 2.7vh;
            height: 200px;
            width: 680px;
        }
    }
    .logo-right img{
        width: 320px;
    }
}  

// For tablet screen
@media(min-width:481px) and (max-width:768px) {
    .main-about{
        width: 100%;

        .h2-about{
            text-align: center;
            margin-left: 350px;
        }
        hr{
            width: 850px;
        }


        .about-content{
            display: flex;
            text-align: center;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            background-color: #F3A01A;
            width: 850px;
            border-radius: 20px;
        }
        .info-left{
            h2{
                margin-left: 25px;
            }
            p{
                margin-left: 20px;

            }
        }

    }

}    

// Responsive for mobile screen
@media(min-width:320px) and (max-width:480px){
    .main-about{
        width: 95%;

        .h2-about{
            text-align: center;
            margin-right: 90px;
        }
        hr{
            width: 95%;
        }
        .about-content{
            margin-top: 10px;
            margin-right: 25px;
            width: 93%;
            background-color: #F3A01A;
            border-radius: 20px;
        }
        .info-left{
            margin: 0 auto;
            background: none;
            width: 400px;
            h2{
    
                display: none;

            }
            p{
                // text-align: justify;
                // width: 300px;
                // font-size: 3vh;
                display: none;
            }
        }

        .logo-right img{
            width: 200px;
            margin-right: 90px;
            margin-top: 10px;
        }


    }
}    
