.main-food{
    text-align: center;
    padding: 20px;
    .h2-feature{
        font-family: "ADLaM Display", system-ui;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 0;
        margin: 0 auto;
        position: relative;
        width: max-content;
    }
    hr{
        margin-top: 20px;
    }
    .h2-feature:after{
        content: "";
        position: absolute;
        background-color: #F3A01A;
        width: 100%;
        height: 4px;
        bottom: -5px;
        left: 0;
        border-radius: 5px;
        transition: 0.3s;
        transition-timing-function: scaleX(0)ease-in-out;
        transform: scaleX(0);
    }
    .h2-feature:hover:after{
        transform: scaleX(1);

    }


}
.content-1{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    padding-left: 20px;

    .left{
        h2{
            font-family: "Actor", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 7vh;
            position: absolute;
            margin: 0;
            padding: 0;
            span{
                font-family: "Alex Brush", cursive;
                font-weight: 400;
                font-size: 5vh;
                font-style: normal;
                color: #F3A01A;

            }

        }
        h3{
            font-family: "ADLaM Display", system-ui;
            font-weight: 400;
            font-style: normal;
            color: #F3A01A;
            font-size: 5vh;
            text-align: start;
            margin: 0;
            margin-top: 50px;
            padding: 0;
        }
        p{
            font-family: "Actor", sans-serif;
            font-weight: 400;
            font-size: 5vh;
            font-style: normal;
            text-align: start;
            padding: 0;
            margin: 0;
        }
        .button{
            font-family: "ADLaM Display", system-ui;
            font-weight: 400;
            font-style: normal;
            font-size: 3vh;
            color: white;
            background-color: #F3A01A;
            padding: 7px 0;
            margin-top: 15px;
            text-align: center;
            border-radius: 6px;
            outline: none;
            border: none;
            width: 100%;
            transition: background 0.3s;
            cursor: pointer;

        }
        .button:hover{
            background-color: rgb(27, 78, 25);
        }

    }
    .right img{
        width: 600px;
        transition: 0.5s;
        border-radius: 0;
    }
    .right img:hover{
        transform: translateY(-5px);
    }

}
.middle-content{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    padding-right: 30px;
    margin-top: 20px;
    padding-left: 20px;

    .left-middle img{
        width: 600px;
        border-radius: 0;
        transition: 0.5s;
        background: none;
    }
    .left-middle img:hover{
        transform: translateY(-5px);

    }

    .right-middle{
        h2{
            font-family: "Actor", sans-serif;
            font-weight: 600;
            font-style: normal;
            text-align: end;
            font-size: 7vh;
            margin: 0;
            padding: 0;
            span{
                font-family: "Alex Brush", cursive;
                font-weight: 400;
                font-size: 5vh;
                font-style: normal;
                color: #F3A01A;

            }

        }
        h3{
            font-family: "ADLaM Display", system-ui;
            font-weight: 400;
            font-style: normal;
            color: #F3A01A;
            font-size: 5vh;
            text-align: end;
            margin: 0;
            padding: 0;
        }
        p{
            font-family: "Actor", sans-serif;
            font-weight: 400;
            font-size: 5vh;
            font-style: normal;
            text-align: end;
            padding: 0;
            margin: 0;
        }
        .button{
            font-family: "ADLaM Display", system-ui;
            font-weight: 400;
            font-style: normal;
            font-size: 3vh;
            color: white;
            background-color: #F3A01A;
            padding: 7px 0;
            margin-top: 15px;
            text-align: center;
            border-radius: 6px;
            outline: none;
            border: none;
            transition: background 0.3s;
            cursor: pointer;
            width: 90%;
            margin-right: -30px;


        }
        .button:hover{
            background-color: rgb(27, 78, 25);

        }

    }


}

// Responsive for tablet---->

@media(min-width:769px) and (max-width:1024px){
    .main-food{
        .h2-feature{
            font-size: 4vh;
        }
    }
    .content-1{
        background-size: 100%;
        background-repeat: no-repeat;
        .left{
            .button{
                font-size: 1vh;
                padding: 10px 80px;
            }
            h2{
                font-size: 4.5vh;
                span{
                    display: none;
                }
            }
            h3{
                font-size: 2vh;
            }

            p{
                font-size: 2vh;
            }
        }
        .right img{
            width: 480px;
        }
    }

    .middle-content{
        background-size: 100%;
        background-repeat: no-repeat;
        .left-middle img{
            margin-top: 20px;
            width: 420px;

        }
        .right-middle{
            width: 320px;
            margin-right: 0px;
            h2{
                font-size: 4.5vh;
                span{
                    display: none;
                }
            }
            h3{
                font-size: 2vh;
            }
            .button{
                font-size: 1vh;
                padding: 10px 90px;
            }
            p{
                font-size: 2.5vh;
            }

        }
        
        

    }

}
    

// For tablet screen
@media(min-width:481px) and (max-width:768px) {
    .main-food{
        width: 100%;

        .h2-feature{
            text-align: center;
            margin: 0 auto;
            margin-left:330px;
        }
        hr{
            width: 850px;
        }
    }

    .content-1{
        width: 820px;
        .left{
            .button{
                padding: 15px;
                border-radius: 30px;
                font-size: 3.5vh;
            }

            p{
                font-size: 5vh;
            }
        }
        .right img{
            width: 500px;
        }
    }
    .middle-content{
        padding-right: 10px;
        width: 820px;
        .right-middle{
            margin-right: 20px;
            .button{
                // padding: 15px;
                // border-radius: 30px;
                // font-size: 3.5vh;
                margin-left: 60px;
            }

 
            p{
                font-size: 5vh;
            }
        }
        .left-middle img{
            width: 500px;
        }
    }
}    
// For mobile screen
@media(min-width:320px) and (max-width:480px){
    .main-food{
        width: 100%;

        .h2-feature{
            margin-right: 150px;
            font-size: 4vh;

        }
        hr{
            margin-top: 20px;
            width: 90%;
            margin-right: 50px;
        }

    }

    .content-1{
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        width: 360px;
        flex-direction: column-reverse;
        .left{
            h2, h3, span{
                display: none;
            }

            .button{
                padding: 5px;
                border-radius: 5px;
                font-size: 2vh;
                // margin-right: 30px;
            }


            p{
                display: none;
            }
        }
        .right img{
            margin-top: 10px;
            width: 330px;
            margin-right: 10px;
        }
        


    }
    .middle-content{
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        width: 340px;
        .right-middle{
            h2, h3, span{
                display: none;
            }
            .button{
                padding: 5px 15px;
                border-radius: 5px;
                font-size: 2vh;
                width: 350px;
            }
 
            p{
                display: none;
            }
        }
        .left-middle img{
            width: 330px;

        }
    }
}    
