.mani-food{
    width: 66%;
    padding: 30px;
    background-color: $bg-card-and-cartgories;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    th{
        background-color: $bg-color-and-outline;
    }

    tr,td,th{
        border: none;
        padding: 5px;
    }
    
}


span{
    color: $text-button;
    padding: 10px;
    

}
@media(min-width:768px) and (max-width:1024px){
    .mani-food{
        width: 100%;
        padding: 20px;

        th{
            padding: 5px;
        }
    }
}